[user]
	email = tr.kimhieu@gmail.com
	name = Hieu Tran
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF7tI1QnJm9BPjBDInVDcxDp0o1twlQpJq1Vc3V9oVM6
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "linux" }}
{{-   if contains "microsoft" .chezmoi.kernel.osrelease }}
	program = /mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl
{{-   else }}
	program = /opt/1Password/op-ssh-sign
{{-   end }}
	allowedSignersFile = ~/.ssh/allowed_signers
{{- end }}
[commit]
	gpgsign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f